* {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: arial;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  margin-top: 3.75rem;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  gap: 1.25rem;
}

.menu a {
  display: block;
  background-color: #fff;
  padding: 0.938rem 1.875rem;
  border-radius: 0.25rem;
  color: #000;
  text-transform: uppercase;
}

.main_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.box_item {
  text-align: right;
  padding: 2.5rem;
  background-color: #fff;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.box_item h1 {
  font-size: 2rem;
}

.detail {
  width: 3.75rem;
  height: 0.25rem;
  background-color: #e21;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}
.mais_informacoes {
  padding: 0.938rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  background-color: #ee2211;
  color: #f7f7f7;
}

.titulo_item_2 {
  color: #c6c6c6;
  font-size: 4rem;
  padding-top: 6.25rem;
  text-align: right;
}

.box_item_3 {
  padding: 3.75rem;
}
.titulo_caracteristica {
  font-weight: bold;
}


.vantagens {
  margin-top: 0.625rem;
}

.footer {
  width: 100%;
  padding: 1.875rem;
  background-color: #fff;
  text-align: center;
}

@media (max-width: 75rem) {
}
/* cinza# Cores

cinza-fundo: #f7f7f7
cinza-texto: #c6c6c6
vermelho: #

# Tipografia

fonte: Arial
parágrafos: 20px
Vantagens Bikcraft: 64px

# Tamanhos

conteúdo principal: máximo 1000px */
